@import "tailwindcss";

body{
  height: 100%;
  width: 100%;
  font-family: 'Manrope Variable', sans-serif;
}

/* @font-face {
  font-family: "Ankit";
  src: url('/public/font/Nucleo.woff2') format('woff2');
} */

.dm-serif{
  font-family: 'DM Serif Display', serif;
}